<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input [(ngModel)] = "account.username" name="username" matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input [(ngModel)] = "account.password" name="password" type="password" matInput placeholder="Password">
          </mat-form-field>

          <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          [type]="type"
          (success)="getResponse()">
          </ngx-recaptcha2>

        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block"  [disabled]="isLoading ? true : null" (click)="verify()">Log in</button>

      </form>
    </mat-card>
  </div>
